
/*--------------------------------------------------------------
	Settings
----------------------------------------------------------------*/
:root {
	--font_14:0.875rem;
	--font_16:1rem;
	--font_30:1.875rem;
	--font_36:2.25rem;
	--font_48:3rem;
	--40:2.5rem;
	--30:1.875rem;
	--margin_30:1.875rem;
	--margin-54:3.375rem;
	--margin-60:3.75rem;
	--margin-100:6.25rem;
	--margin-120:7.5rem;   
}
html {font-family: 'Poppins', sans-serif;background-color:#FFF}
body {font-family: 'Poppins', sans-serif;overflow-x: hidden; background-color:#FFF; font-weight:300;font-style: normal; color: #000; font-size: var(--font_14)}
a,a:hover,a:focus,i,input,button,input:focus,.transition {text-decoration: none;outline: none; transition-delay: 0s;transition-duration: 0.4s;transition-property: all;transition-timing-function: ease;box-shadow: none; color: #89959b}
a:link {cursor: pointer;}
a{color: #000; }
iframe {border: 0;outline: none;}
::-moz-selection {background: var(--grey);text-shadow: none;color:var(--white); }
::selection {background:var(--grey);text-shadow: none;color:var(--white); }
img {max-width: 100%;border: none;outline: none;height: auto;}
input,textarea {border-radius: 0;resize: none;}
ul {padding: 0;margin: 0;}
@font-face { font-family: 'Poppins', sans-serif; }
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background-color: transparent;background-image: none;color:#000;}
/* 1.2 Typography */
h1,h2,h3,h4,h5,h6 {font-family: 'Poppins', sans-serif;}
figure{ margin: 0 }
svg,img { max-width: 100%; height: auto; }

/*-----------------------------------------------------------------
 	Styles
----------------------------------------------------------------*/

.ds-carrousel-sect {margin-top: 8rem; background-color: #f5f5f5;}
.ds-carrousel-div {padding-top: 5rem; padding-bottom: 5rem; height: auto;}

.ds-header{ padding-top:5.5rem; padding-bottom: 9rem; position: relative;  }
.ds-header-index{ padding-top:0.5rem; padding-bottom: 9rem; position: relative;  }
.ds-page-header{ padding-top:7rem; padding-bottom: 4rem; position: relative;  }

.ds-logo{ text-align: center; }
.ds-logo a{display: inline-block; color: #000; font-size:0.875rem; line-height: 1.75rem; text-transform: uppercase; letter-spacing:13px; font-weight: 400; border-bottom: 1px solid #cfcfcf; padding-bottom: 10px }
.ds-logo a:hover {color: #89959b; transition: 0.5s;}

.ds-logo-index{ margin-bottom: 6rem; margin-top: 4.5rem; text-align: center; }
.ds-logo-index a{display: inline-block; color: #000; font-size:0.875rem; line-height: 1.75rem; text-transform: uppercase; letter-spacing:13px; font-weight: 400; border-bottom: 1px solid #cfcfcf; padding-bottom: 10px }
.ds-logo-index a:hover {color: #89959b; transition: 0.5s;}

.ds-closebutton{ position: absolute; left:0; right: 0; margin: 0 auto; margin-top:2.75rem;  border-radius: 100%; border: 1px solid #687278; width: 64px;height: 64px; line-height: 64px; color: #687278; font-size: 1.875rem }
.ds-closebutton:hover{ background-color: #687278; color: #FFF; transition: 1s;  }
.ri-close-line:hover{ padding: 15px; color: #FFF;  }
.ds-pge-wrap{ margin-bottom:100px }
.ds-sticky{position: sticky;top: 0; padding-top: 0px}

.ds-lenguage {text-align: right; padding-top: 1rem;}
.ds-lenguage a img {width:35px; padding-right: 10px;}

.ds-left-section figure{ margin-bottom: 2.5rem }
.ds-socail span{ display: block; font-weight: 600; font-size: 1.125rem  }
.ds-socail ul{ list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; align-items: center;font-size: 1.125rem }
.ds-socail ul li{ margin-right: 20px; margin-top: 18px;}
.ds-socail ul li:last-child{ margin-right: 0 }
.ds-socail ul li a:hover{color: #89959b; text-decoration: underline; text-underline-offset: 1.5px; }
.ds-socail-carrousel {width: 95%; margin-top: 1.5rem; padding-bottom: 0rem; }
.ds-socail-carrousel p{ font-size: 1.125rem;  line-height: 2.25rem }

.ds-heading{ font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 3rem; line-height: 3.6875rem; margin-bottom:45px }
.ds-headingSm{ font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 2.1rem; line-height: 2.75rem; margin-bottom:25px }
.ds-headingSm-sm{ font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 1.75rem; line-height: 2.75rem; margin-bottom:25px }

.ds-info-sectio-wrp{ padding-left:2.5rem  }
.ds-info-sectio p,.ds-project-details p{font-size: 1.125rem; line-height: 2.25rem; margin-bottom: 20px}

.ds-info-list-section{ margin-top:5rem  }
.ds-info-list-section h3{font-size: 1.125rem;font-weight: 600; margin-bottom: 25px}
.ds-info-list-section ul{ list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; justify-content: space-between; }
.ds-info-list-section ul li{ width: 50%;font-size: 1.125rem; line-height: 2.25rem; margin-top: 10px }
.ds-info-list-section ul li a{ text-decoration: underline; text-underline-offset: 1.5px }
.ds-info-list-section ul li a:hover{ transition: 0.5s; color: #89959b }

.ds-pr-info{ display: block;font-size: 1.125rem; line-height: 2.25rem; font-weight: 400; margin-bottom: 10px; }
.ds-main-image{ margin-bottom: 10.0625rem }
.ds-page-image{ margin-bottom: 5rem; position: relative; }
.ds-page-imgtxt{ width: 100%; height: 100%; position: absolute; top: 0; display: flex; align-items: center; }
.ds-page-imgtxt h2{color: #FFF; position: absolute; height: auto; width: 80%; left: 10%; font-size: 1.75rem; font-weight: 300; line-height: 2.75rem; text-align: center; letter-spacing:4px; margin: 0;}
.ds-page-svgL { fill: #FFF; position: absolute; top: 43%; width: 27px; left: 20px; transform: rotate(180deg); }
.ds-page-svgR { fill: #FFF; position: absolute; top: 43%; width: 27px; right: 20px; }

.ds-list-image{ margin-top:4.375rem }
.ds-margin-bottom-70{ margin-bottom:4.375rem }
.ds-footer{ padding-bottom: 120px;padding-top:50px; text-align: center; }
.ds-footer a:hover{ color: #000; text-decoration: underline; }

.ds-exper-block {width: 100%; padding-top: 2.5rem; padding-bottom: 2.5rem; }
.ds-exper-block p {font-size: 1.125rem; line-height: 2.25rem; margin-bottom: 0px; text-align: justify; text-justify: inter-word; }
.ds-exper-block ul{ margin-left: 25px; margin-bottom: 15px; }
.ds-exper-block ul li{ font-size: 1.125rem; line-height: 2rem; text-align: justify; text-justify: inter-word; }

.ds-exper-blockSm {width: 100%; padding-top: 2.5rem;  }
.ds-exper-blockSm span{ display: block;font-size: 1.2rem; font-weight: 400; margin-bottom: 10px; }
.ds-exper-blockSm p {font-size: 1.125rem; line-height: 2.25rem; margin-bottom: 0px; text-align: justify; text-justify: inter-word; }
.ds-exper-blockSm ul{ margin-left: 25px; margin-bottom: 15px; }
.ds-exper-blockSm ul li{ font-size: 1.125rem; line-height: 2rem; text-align: justify; text-justify: inter-word; }

.ds-soft-block {width: 100%; padding-top: 2.5rem;  }


/*-------------------------------------------------------------------------------
 	@media 
-------------------------------------------------------------------------------*/

@media (max-width: 767px) {
	.ds-header{padding-top: 2.875rem;padding-bottom: 3.125rem;}
	.ds-info-sectio-wrp{ padding-left: 0; padding-top: 7rem  }
	.ds-heading{font-size: 2rem;line-height: 2.6875rem;margin-bottom: 20px;}
	.ds-info-list-section ul li{width: 100%}
	.ds-info-list-section{margin-top: 2.625rem;}
	.ds-pge-wrap{ margin-bottom: 50px }
	.ds-footer{padding-bottom: 80px;}
	.ds-closebutton{ position: static; display: block; }
	.ds-main-image{margin-bottom: 3.0625rem;}
	.ds-pr-info{ margin-bottom: 10px }
	.ds-list-image{margin-top: 2.375rem;}
	.ds-margin-bottom-70{ margin-bottom:2.375rem;  }
	.ds-carrousel-sect {margin-top: 5rem; }
	.ds-carrousel-div {width: 100%;}
	.ds-socail-carrousel { width: 100%; padding-bottom: 2rem; }
	.row { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}
	.ds-page-image{ margin-bottom: 5rem; position: relative; height: 170px;}
	.ds-page-image img{ height: 100%; width: auto; object-fit: cover;}
	.ds-page-imgtxt h2{font-size: 1.5rem; font-weight: 300; line-height: 2.5rem; text-align: center; letter-spacing:2.5px; width: 70%; left: 15%;}
	}


@media (min-width: 768px) and (max-width: 991px) {
	.ds-header{padding-top: 2.875rem;padding-bottom: 3.125rem;}
	.ds-info-sectio-wrp{ padding-left: 0; padding-top: 7rem  }
	.ds-heading{font-size: 2rem;line-height: 2.6875rem;margin-bottom: 20px;}
	.ds-info-list-section ul li{width: 100%}
	.ds-info-list-section{margin-top: 2.625rem;}
	.ds-pge-wrap{ margin-bottom: 50px }
	.ds-footer{padding-bottom: 80px;}
	.ds-closebutton{ position: static; display: block; }
	.ds-main-image{margin-bottom: 3.0625rem;}
	.ds-pr-info{ margin-bottom: 10px }
	.ds-list-image{margin-top: 2.375rem;}
	.ds-margin-bottom-70{ margin-bottom:2.375rem;  }
	.ds-carrousel-sect {margin-top: 5rem; }
	.ds-carrousel-div {width: 100%;}
	.ds-socail-carrousel { width: 100%; padding-bottom: 2rem; }
	.row { margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0;}
	.ds-page-image{ margin-bottom: 5rem; position: relative; height: 200px;}
	.ds-page-image img{ height: 100%; width: auto; object-fit: cover;}
	}

@media (min-width: 992px) and (max-width: 1199px) {


}
